* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: black;
    font-weight: 300;
    font-size: 3rem;
    
}

.card-info h2
 {
    color: black;
    font-weight: 400;
    font-size: 15px;
    
}

h2
 {
    color: black;
    font-weight: 100;
    font-size: 16px;
}
h3 {
    font-weight: 200;
    opacity: 0.5;
}

main {
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    /*background: linear-gradient(to right top, rgba(238, 234, 23, 0.753), #eef1479d); */ /*TESTAR GRADIENTE DE FUNDO*/ 
    background-image: url(imagens-icon-quem-sou/fundo2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.164) , rgba(238, 237, 237, 0.568));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
}

.dashboard {
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.795), rgba(255, 255, 255, 0.397));
    border-radius: 2rem;
}

.link {
    display: flex;
    margin: 0.5rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2 {
    padding: 0rem 0.5rem;
}

.quem-sou {
    flex: 2;
}

.cards {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-1,
.card-2,
.card-3{
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255, 1), rgba(255,255,255,0.8));
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding: 1rem;
    justify-content: space-between;

    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1);
    transition: all 100ms ease-in;
    transform: scale(1); 
}

.card-1:hover,
.card-2:hover,
.card-3:hover{
    box-shadow: 0px 0px 90px #000000;
    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 100ms ease-in;
    transform: scale(1.1);
  }
  
/*.progress {
    background: mediumturquoise;
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left: 60%;
}*/

.progress-1 {
    background: mediumturquoise;
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress-1::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left: 95%;
}

.progress-2 {
    background: mediumturquoise;
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress-2::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left: 80%;
}

.progress-3 {
    background: mediumturquoise;
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress-3::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left: 60%;
    
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*
.user {
    overflow: hidden;
}
.user img {
    max-width: 100%;
    -moz-transform: all 0.2s;
    -webkit-transform: all 0.2s;
    transition: all 0.2s;
}

.user:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
*/ 